@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,200,300);

*:focus {
	outline: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	background-color: #444;
	font-weight: 200;
	-webkit-transition: all ease-in;
	transition: all ease-in;
	
}

nav {
	color: white;

	
	padding: 1%;
	
		
	min-width: 200px;
	width: 23%;
	padding-top: 2vh;
	padding-bottom: 0vh;
	height: 98vh;
	float: left;
	
	
}

nav h1 {
	font-weight: 400;
}

nav input[type='text'] {
	background-color: rgba(0,0,0,0);
	border-style: none;
	border-bottom-style: inset;
	font-size: 30px;
	width: 100%; 
	color: white;
}

nav ul {
	font-size: 20px;
	list-style-type: none;
	padding: 0;
}

nav a {
	color: white;
	font-style: none;
	text-decoration: none;
	display: block;
}

nav a:hover {
	background-color: #666;
}

#navborder {
	margin-top: 15vh;
	height: 70vh;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #4D4D4D;
	float: left;
	width: 0;
}

.detail {
	background-color: white;
	
	margin: 20px;
	padding: 20px;
	box-shadow: 1px 1px 30px #000;
	
	float: left;
}

main h1 {
	font-weight: 700;
	border-bottom-color: #333;
	border-bottom-style: solid;
}